body{
    background-color: blue;
}

h1{
    text-align: center;
    font-size: 40pt;
}

#tut{
    text-align: center;
    font-size: 15pt;
}
a{
    color: black;
}
a:hover{
    color: gold;
}

div{
    border: solid;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

input[type=text]{
    width: 100px;
    height: 30px;
    margin-right: 30px;
    background-color: rgb(53, 53, 231);
    border-radius: 10px;
    outline: none;
    font-size: 15pt;
}
input[type=button]{
    width: 90px;
    height: 30px;
    border-radius: 20px;
    font-size: 15pt;
    background-color: blue;
    outline: none;
    cursor: pointer;
}

::placeholder{
    font-size: 15pt;
    color: black;
}

#res{
    text-align: left;
    font-size: 15pt;
    color: gold;
}